@import "main.css";

.inner-container-body{
    display: flex;
    flex-direction: row;
}

/* Inner Container Body Left */

.inner-container-body-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    border-right: 4px solid rgb(28, 103, 88, 0.4);
    justify-content: space-evenly;
    padding: 0 30px;
}

.inner-container-body-left p{
    text-align: center;
    font-size:3.0rem;
}

.inner-container-body-left span{
    font-family: "Dancing Script", sans-serif;
    text-align: center;
    font-size:4.0rem;
    font-weight: bold;
    padding: 5px 20px;
}

.inner-container-body-left img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* Inner Container Body Right */

.inner-container-body-right{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    overflow:hidden;
}

.inner-container-body-right input, .inner-container-body-right textarea{
    background-color:  rgb(238, 242, 230, 0.5);
    width: 60%;
    border-radius: 15px;
    border: none;
    padding: 8px;
    padding-left: 15px;
    color: rgb(28, 103, 88, 1);
    font-size: 1.25rem;
    border: 3px dotted transparent;
    margin: 10px;
    transition: 0.3 ease-in-out;
}

.inner-container-body-right iframe{
    width: 85%;
    height: 100%;
    border-radius: 15px;
    pointer-events: none;
}

.inner-container-body-right textarea{
    resize: none;
}

.inner-container-body-right input:hover, 
.inner-container-body-right textarea:hover{
    background-color:  rgb(238, 242, 230, 0.8);
}

.inner-container-body-right input:focus, 
.inner-container-body-right textarea:focus{
    background-color:  rgb(238, 242, 230, 1);
    outline: none; 
}

.inner-container-body-right input::placeholder, 
.inner-container-body-right textarea::placeholder{
    color: rgb(28, 103, 88, 0.6);
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.inner-container-body-right button{
    background-color: rgb(28, 103, 88);
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(238, 242, 230);
    border: none;
    transition: ease-in-out;
    margin: 5px;
    font-size: 1rem;
}

.inner-container-body-right button:hover{
    background-color: rgb(22, 77, 66);
    cursor: pointer;
}

/* video */

.video{
    height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.hide-vid-black-top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 205, 164, 1);
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
}

.hide-vid-black-bottom{
    display: flex;
    background-color: rgb(214, 205, 164, 1);
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    font-size: 1.25rem;
}
