@import "main.css";

.inner-container-body{
    overflow-y: scroll;  
}

/* Inner container body */

.inner-container-body div{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgb(28, 103, 88);
    padding: 15px;
    background-color: rgb(238, 242, 230, 0.3);
    margin-bottom: 15px;
}

    /* Table */

.inner-container-body div table{
    margin-left: 20px;
    margin-right: 20px;
}

.inner-container-body div table th{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px 0;
    background-color: rgb(238, 242, 230, 0.7); 
    text-align: center;
    padding-bottom: 10px;
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.inner-container-body div table td{
    font-size: 1.0rem;
    border: 1px solid rgb(28, 103, 88);
    text-align: left;
    padding: 10px 20px;
    background-color: rgb(238, 242, 230, 0.3);
} 

    /* Span and p */

.inner-container-body div span{
    font-size: 1.3rem;
}

.inner-container-body div p{
    background-color: rgb(238, 242, 230, 0.7);
    padding: 25px;
    font-size: 1.0rem;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 25px;
}

/* First, second, third containers */

.first-container{
    display: flex;
    flex-direction: column !important;
    width: 25%;
    background-color: red;
}

.second-container{
    width: 20%;
}

.third-container{
    width: 55%;
}

.first-container,
.second-container,
.third-container{
    border: none!important;
    background-color: transparent!important;
}

.first-container img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.first-container p{
    font-size: 1.3rem !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin-left: auto !important; 
    margin-right: auto !important;
}

.third-container p {
    flex-direction: column;
    border: none;
    background-color: transparent;
}